h1 {
  color: white;
  position: absolute;
  display: flex;
   font-size: 48px;
  z-index: 1;
  margin-inline: 50px;
  @media (max-width: $ls) {
    margin-left: 50px;
  }
  @media (max-width: $ms) {
    font-size: 20px;
  }
}

.mer {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  object-fit: cover;
  filter: brightness(50%);
  
  @media (max-width: $ls) {
    border-radius: 25px;
  }
}

.banner {
  background-size: cover;
  background-position: center;
  height: 223px;
  position: relative;
  justify-content: center;
  border-radius: 25px;
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;

  @media (max-width: $ms) {
    margin-top: 10px;
    padding-inline: 20px;
  }
  @media (max-width: $Bs) {
    padding-inline: 20px;
  }


}

