.banner {
  margin-top: 50px;
  width: 100%;
  height: 223px;
  top: 163px;
  border-radius: 25px;
  opacity: 100%;
  mix-blend-mode: color-burn, black;
  h1 {
    color: white;
    position: absolute;
    margin-left: 210px;
    margin-top: 90px;
    text-align: center;
    font-size: 48px;
  }
}

.mer {
 width: 100%;
  height: 223px;
  border-radius: 25px;
  object-fit: cover;
}
