.cards {
  margin-top: 5%;
  background-color: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 10%;

  .card-bloc-item {
    text-align: center;
    margin-top: 50px;
    position: relative;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 15%;
  }

  .card {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
  
    &::before {
      content: "";
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.5)
      );
      width: 100%;
      height: 50%;
      position: absolute;
      border-radius: 10px;
      bottom: 0;
    }

    h2 {
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: 200;
      margin-top: 290px;
      position: absolute;
      padding: 5px;
      margin-left: 10px;
      display: flex;
      flex-wrap: wrap;
      overflow-wrap: break-word;
      text-align: left;
    }


  }
}

.photocard {
  border-radius: 10px;
  object-fit: cover;
  width: 340px;
  height: 340px;
}
