.cards {
  margin-top: 5%;
  background-color: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 10%;
  gap: 50px;
  padding: 30px;

  @media (max-width: $ms) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    align-items: center;
    background: none;
    padding: 20px;
  }
  @media (max-width: $ls) {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin-bottom: 0px;
    padding: 30px;
    margin-inline: 0px;
    gap: 50px;
  }
  @media (max-width: $Bs){
    margin-inline: 20px;
  }

  .card-bloc-item {
    text-align: center;
    margin-top: 50px;
    position: relative;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 15%;

    @media (max-width: $ms) {
      margin-bottom: 20px;
      margin-top: 20px;
      width: 100%;
      height: 255px;
    }
    @media (max-width: $ls){
      margin-top: 0px ;
    }
  }

  .card {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;

    &::before {
      content: "";
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.5)
      );
      width: 100%;
      height: 50%;
      position: absolute;
      border-radius: 10px;
      bottom: 0;
    }

    h2 {
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: 200;
      margin-top: 290px;
      position: absolute;
      padding: 5px;
      margin-left: 10px;
      display: flex;
      flex-wrap: wrap;
      overflow-wrap: break-word;
      text-align: left;
      @media (max-width: $ms) {
        margin-top: 200px;
      }
    }
  }
}

.photocard {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 340px;

  @media (max-width: $ms) {
    width: 100%;
    height: 100%;
  }
}
