.cards {
  margin-top: 5%;
  background-color: #f6f6f6;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 5%;

  .card {
    text-align: center;
    margin-top: 80px;
    position: relative;
    width: 400px;
    height: 400px;
    margin-bottom: 100px;
   
    .photocard {
      width: 100%;
      height:100%;
      border-radius: 10px;
      object-fit: cover;
      position: relative;

      &::before {
        content: "";
        width: 50%;
        height: 30%;
        box-shadow: inset 1px 1px 1px 1px rgba(224, 48, 48, 0.5);
        position: absolute;
        border-radius: 0 0 0 5px;
        bottom: 0;
           //   background-color: $gradientRed;
      }
     }

    h2 {
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: 200;
      margin: 10px 0;
      position: absolute;
      padding: 5px;
      margin-top: -50px;
      margin-left: 10px;
      display: flex;
      flex-wrap: wrap;
      overflow-wrap: break-word;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }
  }
}
