.card{
    margin-top: 5%;
    background-color: #F6F6F6;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    gap: 80px;
    margin-bottom:3% ;
}

.photocard{
    width: 75%;
    height: 340px;
    border-radius: 10px;
    margin-top: 15%;
    margin-left: 20%;
    object-fit: cover;
    position: relative;
}

h2{
    font-size: 14px;
    position: absolute;
    margin-left: 7%;
}