.allcollapse {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 80%;
  position: relative;
  overflow: hidden;
  z-index: 1;

  // transition: max-height 0.3s ease-in-out;
  @media (max-width: $ms) {
    width: 100%;
    margin-top: 10px;
  }

  .collapse-button {
    width: 100%;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: $red;
    color: white;
    cursor: pointer;
    h3 {
      font-size: 25px;
      font-weight: 500;
    }

    .arrow {
      margin-right: 10px;
      transition: transform 0.5s ease;

      &.down {
        transform: rotate(180deg);
      }

      &.up {
        transform: rotate(0deg);
      }
    }
  }

  .collapse-content {
    overflow: hidden;
    background-color: #f9f4f4;
    border-radius: 3px 3px 10px 10px;
    font-size: 18px;
    max-height: 0;  
    color: $red;
    transition: max-height 0.5s ease-in-out, padding 1s ease;

    &.open {
      display: flex;
      padding: 3%;
      justify-items: center;
      align-items: center;
      max-height: 100vh;
    }
  }
}