.collapse-button {
  width: 80%;
  height: 50px;
  border-radius: 8px;
  background-color: $red;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
   padding: 15px;
  border: none;
  align-items: center;
}
.arrow {
  margin-right: 10px;
}
#text {
  display: flex;
  justify-content: flex-start;
  margin-top: 80px;
}
.allcollapse {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
  align-items: center;

}
.collapse-content {
  font-size: 18px;
  font-weight: lighter;
  overflow-wrap: break-word;
  color: $red;
  padding: 10px;
}

.allcollapse.open .collapse-content {
  display: block;
  background-color: #f9f4f4;
  // width: 80%;
  border-radius: 3px 3px 10px 10px;
  // transform: rotate(0deg);
  // transition: transform 0.9s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}
