main {
  height: 100%;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoheader{
  @media (min-width: $small-screen){
width: 145px;
height: 46px;
  }
  @media (min-width: $medium-screen) {
    width:210px;
    height: 68px;
  }
}

nav {
  display: flex;
}
.navlink {
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  margin-right: 100px;
  color: $red;
  cursor: pointer;

  &:active,
  &:hover {
     border-bottom: 2px solid $red;
     }

     @media (min-width: $small-screen){
      font-size: 15px;
      margin-right:33px;
    }
    @media (min-width: $medium-screen) {
      font-size: 18px;
      margin-right: 66px;
    }
    @media (min-width: $large-screen) {
      font-size: 24px;
      margin-right: 100px;
    }
}

footer {
  height: 209px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logofooter {
  width: 122px;
  height: 39px;
  margin-top: 66px;
}
.footerletter {
  color: white;
  size: 24px;
  margin-top: 20px;
  @media (min-width: $small-screen){
    font-size: 12px;
   
  }
}
