main {
  // height: 100%;
  // position: relative;
  height: 100%;
  position: relative;
  max-width: 1440px;
  width: auto;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logoheader {
  @media (max-width: $ms) {
    width: 190px;
    height: 68px;
  }
  @media (max-width: $ss) {
    width: 100px;
    height: 30px;
  }
}

nav {
  ul {
    list-style-type: none;
    display: flex;
    .active {
      text-decoration: underline;
    }
  }
}

.navlink {
  font-size: 24px;
  justify-content: flex-end;
  text-decoration: none;
  color: $red;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:last-child{
margin-left: 18px;
}
  @media (max-width: $ms) {
    font-size: 18px;
    margin-right: 0px;
    padding:0px;
    text-transform: uppercase;
  }
  @media (max-width: $ss) {
    font-size: 10px;
    // margin-right: 33px;
    text-transform: uppercase;
  }

}

footer {
  height: 209px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logofooter {
  width: 122px;
  height: 39px;
  margin-top: 66px;
}
.footerletter {
  color: white;
  size: 24px;
  margin-top: 20px;
  @media (min-width: $ss) {
    font-size: 12px;
  }
}
