main{ height: 100%;
position: relative;}

header{
display: flex;
justify-content: space-between;
align-items: center;
}

nav{
    display: flex
}
.navlink {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    margin-right: 100px;
//   &:last-child{
//     margin-right: 0;
//   }
  color: $red;
  cursor: pointer;
  &.active,
  &:hover {
      text-decoration: underline;
  }
}

footer{
    height: 209px;
    background-color: #000;
    display: flex;
 flex-direction: column;
    align-items: center;
  
}
.logofooter {
    width: 122px;
    height: 39px;
    margin-top: 66px;
}
.footerletter{
    color: white;
    size: 24px;
margin-top: 20px;

}



