main {
  height: 100%;
  position: relative;
  max-width: 1240px;
  width: auto;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}
.logoheader {
  @media (max-width: $ms) {
    width: 145px;
    height: 45px;
  }
}

nav {
  ul {
    list-style-type: none;
    display: flex;
    .active {
      text-decoration: underline;
    }
  }
}

.navlink {
  font-size: 24px;
  justify-content: flex-end;
  text-decoration: none;
  color: $red;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:last-child{
margin-left:55px;
}
  @media (max-width: $ms) {
    font-size: 10px;
    margin-right: 0px;
    padding:0px;
    text-transform: uppercase;
    &:last-child{
      margin-left:8px;
      }
  }
}

footer {
  height: 209px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logofooter {
  width: 122px;
  height: 39px;
  margin-top: 66px;
}
.footerletter {
  color: white;
  size: 24px;
  margin-top: 20px;
  @media (min-width: $ms) {
    font-size: 12px;
  }
}
