@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@300;400&display=swap');
// Breakpoints 

// @mixin mobile {
//     @media screen and (max-width: 767px) {
//         @content;
//     }
// }

// @mixin tablette {
//     @media screen and (min-width: 768px) and (max-width: 1023px) {
//         @content;
//     }
// }

// @mixin desktop {
//     @media screen and (min-width:1024px) {
//         @content;
//     }
// }

$gradientRed: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 0, 0, 0.5));
$red: #FF6060 ;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
display: flex;
flex-direction: column;
height: 100vh;
justify-content: space-between;
}

body{
padding: 50px;
font-family:'Montserrat',sans-serif;
}
