@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@300;400&display=swap');

$gradientRed: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 0, 0, 0.5));
$red: #FF6060 ;

/*taille d'écran */
$ss: 320px;
$ms: 768px;
$ls: 1024px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
display: flex;
flex-direction: column;
height: 100vh;
justify-content: space-between;
}

body{
font-family:'Montserrat',sans-serif;
}
