.bannerp {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  opacity: 100%;
  margin-bottom: 100px;
  padding: 20px;
  @media (max-width: $ms) {
    margin-bottom: 0px;
    padding: 15px;
  }
  @media (max-width: $ls){
    padding: 18px;
  }
}

.picturep {
//   margin-top: 50px;
  width: 100%;
  height: 223px;
  top: 163px;
  border-radius: 25px;
  opacity: 100%;
  object-fit: cover;
  // @media (max-width: $ss){
  //     width: 95%;
  //     height: 110px;
  //   }
  @media (max-width: $ms) {
    height: 100%;

  }
}

.expression {
  font-weight: lighter;
}
.thiscollapses {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: $ms) {
    padding: 15px;
  }}
