.home {
    max-width: 1240px;
    width: auto;
    
    @media (max-width: $ss) {
      max-width: 100%;
      padding: 20px;
    }
    
    @media (min-width: $ms) and (max-width: $ls) {
      max-width: 800px;
    }
    
    @media (min-width: $ls) {
      max-width: 1240px;
    }
  }

  
  
  