.slides {
  width: 1330px;
  height: 643px;
  border-radius: 25px;
  object-fit: cover;
  display: flex;
}
.slider {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  position: relative;
}
.prev {
  left: 0%;
}
.next {
  right: 0%;
}
.prev,
.next {
  position: absolute;
  transform: translateY(-50%);
  color: white;
  background-color: transparent;
  border-color: transparent;
  top: 50%;
}
.housingtitle {
  font-size: 36px;
  margin-top: 30px;
  color: $red;
  font-weight: lighter;
}
.locationhousing {
  font-size: 20px;
  color: $red;
  font-weight: lighter;
  margin-top: 10px;
}
.namepictures {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  .nameP {
    overflow-wrap: break-word;
    font-size: 18px;
    color: $red;
    display: flex;
    align-items: center;
    padding: 10px;
  }
}
.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 16px;

  ul,
  li {
    display: flex;
    align-items: center;
    background-color: $red;
    border-radius: 10px;
    height: 22px;
    color: white;
    padding: 6px 26px 6px 26px;
    font-size: 13px;
    margin-top: 10px;
  }
}
.owner {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.collapsesDescr{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  .collapse-button{
    width:582px ;
    height: 52px;
  }
  ul{
    list-style-type: none;
  }
}