/*Photos défilantes */
.slides {
  width: 1330px;
  height: 643px;
  border-radius: 25px;
  object-fit: cover;
  display: flex;
  @media (min-width: $ss){
    width:335px;
    height: 255px;
       }
       @media (min-width: $ms) {
    width: 800px;
    height: 350px;
       }
       @media (min-width: $ls) {
        width: 1330px;
  height: 643px;
       }
}
.slider {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  position: relative;
}
.prev {
  left: 0%;
}
.next {
  right: 0%;
}
.prev,
.next {
  position: absolute;
  transform: translateY(-50%);
  color: white;
  background-color: transparent;
  border-color: transparent;
  top: 50%;
//   @media (min-width: $ss){
//     width:30px;
//     height:30px;
    
//        }
//        @media (min-width: $ms) {
    
//        }
//        @media (min-width: $ls) {
       
      
//        }
 }


/*Div Informations en dessous */

.housingtitle {
  font-size: 36px;
  margin-top: 30px;
  color: $red;
  font-weight: lighter;
    @media (min-width: $ss){
     font-size:  18px;
           }
           @media (min-width: $ms) {
        font-size: 25px;
           }
           @media (min-width: $ls) {
           font-size: 36px;
           }
}
.locationhousing {
  font-size: 20px;
  color: $red;
  font-weight: lighter;
  margin-top: 10px;
}
.namepictures {
  display: flex;
 align-items: flex-end;
  flex-direction: column;
  margin-bottom: 20px;

  .nameP {
    overflow-wrap: break-word;
    font-size: 18px;
    color: $red;
    display: flex;
    padding: 10px;
  }
}
.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 16px;
  margin-top: 20px;

  ul,
  li {
    display: flex;
    align-items: center;
    background-color: $red;
    border-radius: 10px;
    height: 25px;
    color: white;
    padding: 6px 26px 6px 26px;
    font-size: 13px;
    margin-top: 10px;
  }
}
.profileLoc{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.owner {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.photo-number {
  color:white;
  font-size: 18px;
  z-index: 1;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5%;
}
// .rating{
//   position: absolute;
//   list-style-type: none;
//   display: flex;
// color: $red;
// width: 36px;
// height: 36px;
// }
svg{
  width: 36px;
  height: 36px;
}