/*Photos défilantes */
.slides {
  width: 1330px;
  height: 643px;
  border-radius: 25px;
  object-fit: cover;
  display: flex;
  @media (max-width: $ms) {
width: 800px;
height: 500px;
      }
}

.slider {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  position: relative;
    @media (max-width:$ms) {
margin-top: 20px;
  }
  // @media (max-width: $ss){

  //      }
}
.prev {
  left: 0%;
}
.next {
  right: 0%;
  
}
.prev,
.next {
  position: absolute;
  transform: translateY(-50%);
  color: white;
  background-color: transparent;
  border-color: transparent;
  top: 50%;

 }


/*Div Informations en dessous */
.partInfos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  @media (max-width: $ms) {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  // @media (min-width: $ss){
  // display: flex;
  // flex-direction: column;
  // flex-direction: flex-start;
  // }

.housingtitle {
  font-size: 36px;
  margin-top: 30px;
  color: $red;
  font-weight: lighter;
  @media (max-width: $ms) {
    font-size: 30px;
  }
  @media (max-width: $ss){
   font-size:  20px;
         }
}  

.locationhousing {
  font-size: 20px;
  color: $red;
  font-weight: lighter;
  margin-top: 10px;
  @media (max-width: $ms) {
    font-size: 20px;

  }
  @media (max-width: $ss){
    font-size:  14px;
  }
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 16px;
  margin-top: 20px;

  ul,
  li {
    display: flex;
    align-items: center;
    background-color: $red;
    border-radius: 10px;
    height: 25px;
    color: white;
    padding: 6px 26px 6px 26px;
    font-size: 13px;
    margin-top: 10px;
  }
}
}


.namepictures {
  display: flex;
 align-items: flex-end;
  flex-direction: column;
  margin-bottom: 20px;
  @media (min-width: $ss){
    font-size:  12px;
    padding: 20px;
          }
          @media (min-width: $ms) {
       font-size: 25px;
       padding: 20px;
          }

  .nameP {
    overflow-wrap: break-word;
    font-size: 18px;
    color: $red;
    display: flex;
    padding: 10px;
  }
  .profileLoc{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.owner {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
}

.photo-number {
  color:white;
  font-size: 18px;
  z-index: 1;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5%;
  @media (min-width: $ss) {
display: none;
       }
}
svg{
  width: 36px;
  height: 36px;
  @media (max-width: $ms) {
    width: 26px;
height: 26px;
       }
  @media (max-width: $ss){
  width: 13px;
  height: 13px;
          }
     
}

